<div class="flex-1 h-full flex flex-col min-h-0 p-4 md:p-8 space-y-6 overflow-hidden" dir="rtl">
  
  <app-filter-toolbar
    [categories]="categories"
    [(searchQuery)]="searchQuery"
    [(filterUrgent)]="filterUrgent"
    [(filterImportant)]="filterImportant"
    [(selectedFilterCategoryId)]="selectedFilterCategoryId"
    [(columnVisibility)]="columnVisibility">
  </app-filter-toolbar>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 flex-1 h-full min-h-0 items-stretch" cdkDropListGroup>
    
    <div *ngIf="columnVisibility.todo" class="bg-gray-100 p-4 rounded-2xl border border-gray-200/60 shadow-inner flex flex-col h-full min-h-0">
      <div class="flex items-center justify-between mb-4 px-1 shrink-0">
        <span class="font-bold text-gray-700 text-sm">
        <span class="text-xs bg-gray-200 px-2 py-0.5 rounded-md text-gray-600 font-bold">{{ getFilteredCount(todoTasks) }}</span>
          &nbsp;آماده
        </span>
      </div>
      
      <div id="todoList" cdkDropList [cdkDropListData]="todoTasks" (cdkDropListDropped)="onTaskDrop($event)" class="flex-1 overflow-y-auto pr-1 pb-4 min-h-0 space-y-3">
        <div *ngFor="let task of todoTasks" cdkDrag [class.hidden]="!shouldShowTask(task)" [class.hidden]="!shouldShowTask(task)" (click)="openEditModal(task)" 
             class="bg-white p-4 rounded-xl shadow-sm border-r-4 border-red-500 hover:shadow-md transition-shadow cursor-grab active:cursor-grabbing space-y-3">
          
          <div class="flex justify-between items-start">
            <span [style.background-color]="task.category.rawColor + '4D'" [style.color]="task.category.rawColor" [className]="'text-xs font-bold px-2 py-1 rounded'">{{ task.category.name }}</span>
            <div class="flex gap-1 flex-wrap">
              <span *ngIf="task.isUrgent && task.isImportant" class="text-[10px] font-bold bg-amber-50 text-amber-700 border border-amber-200 px-1.5 py-0.5 rounded">🚨 فوری و مهم</span>
              <span *ngIf="task.isUrgent && !task.isImportant" class="text-[10px] font-bold bg-red-50 text-red-600 border border-red-100 px-1.5 py-0.5 rounded">📌 فوری</span>
              <span *ngIf="!task.isUrgent && task.isImportant" class="text-[10px] font-bold bg-indigo-50 text-indigo-600 border border-indigo-100 px-1.5 py-0.5 rounded">⭐️ مهم</span>
            </div>
          </div>
          
          <h3 class="font-bold text-gray-800 text-sm leading-6">{{ task.title }}</h3>
          <p class="text-xs text-gray-500 line-clamp-2">{{ task.desc }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="columnVisibility.doing" class="bg-gray-100 p-4 rounded-2xl border border-gray-200/60 shadow-inner flex flex-col h-full min-h-0">
      <div class="flex items-center justify-between mb-4 px-1 shrink-0">
        <span class="font-bold text-gray-700 text-sm">
          <span class="text-xs bg-gray-200 px-2 py-0.5 rounded-md text-gray-600 font-bold">{{ getFilteredCount(doingTasks) }}</span>
          &nbsp;در حال انجام
        </span>
      </div>
      
      <div id="doingList" 
     cdkDropList 
     [cdkDropListData]="doingTasks" 
     (cdkDropListDropped)="onTaskDrop($event)" 
     class="flex-1 overflow-y-auto pr-1 pb-4 min-h-0 space-y-3">
     
        <app-task-card 
          *ngFor="let task of doingTasks" 
          [task]="task"
          [class.hidden]="!shouldShowTask(task)"
          (click)="openEditModal(task)">
        </app-task-card>
        
      </div>
    </div>

    <div *ngIf="columnVisibility.done" class="bg-gray-100 p-4 rounded-2xl border border-gray-200/60 shadow-inner flex flex-col h-full min-h-0">
      <div class="flex items-center justify-between mb-4 px-1 shrink-0">
        <span class="font-bold text-gray-700 text-sm">
          <span class="text-xs bg-gray-200 px-2 py-0.5 rounded-md text-gray-600 font-bold">{{ getFilteredCount(doneTasks) }}</span>
          &nbsp;انجام شده
        </span>
        <svg (click)="printDoneTasks()" width="24" height="24" class="pointer print-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <path d="M6 9V3h12v6"></path>
          <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
          <rect x="6" y="14" width="12" height="7" rx="1"></rect>
          <line x1="8" y1="17" x2="16" y2="17"></line>
          <circle cx="18" cy="12" r="1" fill="currentColor" stroke="none"></circle>
        </svg>
      </div>

      <div id="doneList" 
        cdkDropList 
        [cdkDropListData]="doingTasks" 
        (cdkDropListDropped)="onTaskDrop($event)" 
        class="flex-1 overflow-y-auto pr-1 pb-4 min-h-0 space-y-3">
     
        <app-task-card 
          *ngFor="let task of doneTasks" 
          [task]="task"
          [class.hidden]="!shouldShowTask(task)"
          (click)="openEditModal(task)">
        </app-task-card>
        
      </div>
    </div>

  </div>
</div>

<app-task-edit-modal
  *ngIf="isEditModalOpen && selectedTaskToEdit"
  [task]="selectedTaskToEdit"
  [categories]="categories"
  (close)="closeEditModal()"
  (save)="saveEditedTask($event)">
</app-task-edit-modal>


<div #printArea class="print-area" *ngIf="showDonePrintModal">

  <div class="column">
    <div  [style.border]="'1px solid ' + item.category.rawColor" [style.borderRadius]="'8px'" class="item" *ngFor="let item of firstColumn">
      {{ item.title }}
    </div>
  </div>

  <div class="column">
    <div  [style.border]="'1px solid ' + item.category.rawColor" [style.borderRadius]="'8px'" class="item" *ngFor="let item of secondColumn">
      {{ item.title }}
    </div>
  </div>

</div>

<div class="hidden">asdfasf</div>